GEO_DB_URL=https://github.com/sapics/ip-location-db/releases/download/latest/geolite2-city-ipv4.mmdb
GEO_DB_UPDATE_INTERVAL_SECONDS=3600
GEO_DB_PATH=data/geo.mmdb
GEO_DB_READER_PROFILE=geolite2-flat
HOST=0.0.0.0
PORT=8000
