IP2LOCATION_TOKEN=
GEO_DB_IPV4_CODE=DB3LITEBIN
GEO_DB_IPV6_CODE=DB3LITEBINIPV6
GEO_DB_IPV4_PATH=data/IP2LOCATION-LITE-DB3.BIN
GEO_DB_IPV6_PATH=data/IP2LOCATION-LITE-DB3.IPV6.BIN
GEO_DB_UPDATE_INTERVAL_SECONDS=86400
HOST=0.0.0.0
PORT=8000
